/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.cf, .clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}


/*********************
TOOLS
*********************/

.inline-block, .dib {
    display: inline-block;
}

.db{
  display: block;
}
.tran-delay{
  transition-delay: all ease 300ms;
}
.tran, .tran2{
  transition: all ease 300ms;
  transform: translate3d(0,0,0); 
}
.tran2{
  transition: all ease 500ms;
}

.bgi{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgi-i{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.cfff{
  color: #fff;
  &:link, &:active, &:hover, &:visited, &:focus{
    color: #fff;
  }
}
.posa{
  position: absolute;
}
.posr{
  position: relative;
}
.vat{
  vertical-align: top;
}
.fll{
  float: left;
}
.flr{
  float: right;
}
.ttu{
  text-transform: uppercase;
}
.tdu{
  text-decoration: underline;
}
.default-animate{
  @extend .tran2;
  @media #{$s}{
    opacity: 0;
    transform: translate(0, 1em);
    &.animated, &.animate  {
        opacity: 1;
        transform: translate(0, 0);
    }
  }
  &.fast-animate{
    @extend .tran;
  }
}


/////////////-fitvids-///////////////
.vidrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


