// launchboom
body:not(.page-template-template-lauchboom-landing-page-side){
	.top-logo-wrap{
		@media #{$m2} {
			background-color: #fff;
			border-bottom: 1px solid $mid-grey;
			img{
				margin: auto;
			}
		}
		
	}
	.top-section-wrap{
		max-width: 1600px;
		margin: auto;
		position: relative;
		z-index: 2;
		height: auto;
		@media #{$m} {
			padding: 1em 0;
			background-image: url('#{$r}HeadacheGirlLandingPage-D.jpg'), url('#{$r}WaveLandingPage-D.jpg');
			background-size: auto;
			background-position: 0 100%, 100% 0;
		}
	}
	.top-content-headline{
		@media #{$m2}{
			text-align: center;
		}
	}
	.top-section-wrap-full{
		&:before{
			@media #{$m2} {
				// content: '';
				// position: fixed;
				// width: 100%;
				// height: 100%;
				// top: 0;
				// left: 0;
				// z-index: 1;
				// background-color: rgba(#fff, 0.75);
			}
		}
	}
	.top-section{
		padding: 1em;
		@media #{$m} {
			float: left;
			width: 50%;
			margin-top: 10%;
		}
	}

	.top-section-tall{
		z-index: 3;
		position: relative;
		
		@media #{$m} {
		padding: 1em;
		text-shadow: 0 0 0.5em #fff;
		min-height: calc(100vh - 10em);
		float: left;
		width: 50%;
		margin-top: 10%;
		// background-color: rgba(#fff, 0.8);
		max-width: 550px;
		// padding-top: 10%;
		margin: 0 1em;
		}
	}
	.top-content-inner{
		margin: auto;
		@media #{$m} {
			max-width: 550px;
		}
	}
	.top-content-inner-top-half{
		@media #{$s2} {
			background-image: url('#{$r}HeadacheGirlLandingPage-M.jpg');
			background-size: 100%;
			background-position: 50% 100%;	
			background-repeat: no-repeat;
		}
	}
	.top-content{
		@media #{$m2} {
			max-width: 320px;
			margin: auto;
		}
	}
	.top-content-red{
		@media #{$m2} {
			background-color: $red;
			padding: 1em;
			*{
				color: #fff;
			}
			li{
				background-image: url('#{$r}plus-w.svg');
			}
		}
	}
	.top-content-red-inner{
		@media #{$m2} {
			max-width: 450px;
			margin: auto;
		}
	}
	.top-cta{
		max-width: 600px;
		margin: auto;
		text-align: left;
		padding: 1em;
		
		@media #{$m} {
			padding: 2em;
		}
	}
	.home-mobile-wrap{
		background-color: #d1d0ce;
		background-image: url('#{$r}HeadacheGuyLandingPage-M.jpg'), url('#{$r}HeadAidLogoText2LandingPage-M.png');
		background-size: contain, 10em;
		background-position: 50% 100%, 95% 20%;
		padding-bottom: 50%;
		@extend .bgi;
	}
	.home-mobile-text{
		max-width: 420px;
		padding: 0 1em;
		margin: auto;
	}
}

.page-template-template-lauchboom-landing-page-side{
	.mobile-logo{
		@media #{$m2} {
			max-width: 200px;
			margin: auto;
			padding: 0.5em;
		}
	}
	.top-section-wrap{
		margin: auto;
		position: relative;
		z-index: 2;
		height: auto;
		@media #{$m} {
			min-height: 100vh;
		}
		@media #{$m2} {
			background-image: none !important;
		}
	}
	.top-section-wrap-full{
		// &:before{
		// 	@media #{$m2} {
		// 		content: '';
		// 		position: fixed;
		// 		width: 100%;
		// 		height: 100%;
		// 		top: 0;
		// 		left: 0;
		// 		z-index: 1;
		// 		background-color: rgba(#fff, 0.75);
		// 	}
		// }
	}
	.top-section{
		padding: 1em;
		@media #{$m} {
			float: left;
			width: 45%;
			margin-top: 10%;
		}
	}

	.top-section-tall{
		z-index: 3;
		position: relative;
		padding: 1em;
		@media #{$m} {

		text-shadow: 0 0 0.5em #fff;
			min-height: 100vh;
			float: left;
			width: 55%;
			background-color: rgba(#fff, 0.8);
			padding-top: 10%;
			margin: 0;
		}
		@media #{$l} {
			width: 45%;
		}

	}
	.top-content-inner{
		max-width: 500px;
		margin: auto;
		
	}
	.top-cta{
		max-width: 600px;
		margin: auto;
		text-align: left;
		padding: 1em;
		
		@media #{$m} {
			padding: 2em;
		}
	}
}
.email-wrap{
	// @media #{$xs}{
		input[type="email"],
		input[type="submit"], 
		button{
			float: left;
			width: 65%;
			border-radius: 0;
		}
		button,
		input[type="submit"]{
			width: 35%;
			padding: 0.71em 0.5em;
		}
		input[type="email"],
		input[type="text"]{
			border-right: 0;
		}
	// }
	@media #{$xs2}{
		font-size: 0.8em;
	}
}



// gravity form styles
body:not(.page-template-template-lauchboom-survey) {
	.gform_wrapper{
		form * {
			display: inline;
		}
		.gform_fields{
			list-style-type: none;
		}
		.gfield_label {
			display: none !important;
		}

		input[type="text"], input[type="email"]{
			float: left;
			width: 65%;
			// border: 2px solid $kickstarter-green;
			border-radius: 0;
			@media #{$xs2} {
				padding: 0.95em 1em;
			}
			.top-content-inner--hero & {
				border: 2px solid #fff;
			}
		}

		input[type="submit"] {
			width: 35%;
			padding: 0.71em 0.5em;
		}

	}
	.gfield_description.validation_message, 
	.validation_error {
		display: none !important;
	}

}



.side-image{
	@media #{$m} {
		height: 100vh;
		float: right;
		width: 50%;
		position: absolute;
		right: 0;
		height: 100%;
		padding-top: 15%;
	}
}

// Thank you page
.thank-you-wrap{
	position: relative;
	@extend .bgi;
	@media #{$m} {
		min-height: 100vh;
		background-image: url('#{$r}BackgroundThankYouPage-D.jpg');
	}
	@media #{$m2}{
		background-image: url('#{$r}HeroWaveThankYouPage-M.jpg'), url('#{$r}BackgroundThankYouPage-M.jpg');
		background-size: contain, 100%;
		background-position: 0 0, 50% 100%;
	}
}
.thank-you-content{
	@media #{$m} {
		float: left;
		width: 45%;
		margin-top: 10%;
	}
	@media #{$b} {
		width: 40%;
	}
	@media #{$m2}{
		max-width: 450px;
		margin: auto;
	}
	.top-content-inner{
		float: none;
		width: 100%;
		padding: 1em;
	}
	.button{
		padding: 0.5em 1.2em;
	}
}
.thank-you-mobile-image{
	max-width: 400px;
	margin: auto;
}
.thank-you-side-image{
	@media #{$m} {
		height: 100vh;
		float: right;
		width: 55%;
		background-size: 80%;
		background-position: 50% 20%;
	}
	@media #{$b} {
		width: 60%;
		background-size: auto;
	}
}
.thank-you-headline{
	@media #{$m2} {
		text-align: center;
	}
	span{
		font-weight: bold;
		display: inline-block;
	}
}
.thank-you-buttons{
	@media #{$m2} {
		div{
			display: inline;
		}
	}
}
.top-content-inner-thank-you{
	max-width: 500px;
}
.thank-you-wrap--live{
	position: relative;
	min-height: 100vh;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(#fff, 0.9);
	}
	.thank-you-inner{
		position: relative;
		z-index: 4;
	}
}
.thank-you-live-logo{
	width: 175px;
}
.full-page-height{
	min-height: calc(100vh - 56px);
	height: auto;
}
.page-template-template-lauchboom-survey{
	.gform_wrapper .description, 
	.gform_wrapper .gfield_description, 
	.gform_wrapper .gsection_description, 
	.gform_wrapper .instruction{
		font-size: 100%;
		font-style: italic;
	}
	.gform_wrapper .gfield_checkbox li label, 
	.gform_wrapper .gfield_radio li label{
		font-size: 16px;
	}
	.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title{
		font-size: 16px;
	}
	.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, 
	.gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, 
	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, 
	.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label{
		font-size: 90%;
	}
	.gform_previous_button{
		background-color: $mid-grey;
		border-color: $mid-grey;
		&:hover{
			background-color: $mid-grey;
			border-color: $mid-grey;
			color: #fff;
		}
	}
}









