.step-logo{
    max-width: 175px;
}
.steps-image{
    width: 850px;
    margin: auto;
}
.text-content{
    max-width: 882px;
    margin: auto;
    padding: 0 1em;
}
.page-template-template-three-step-free, .page-template-template-three-step-share{
	a, 
	a:visited, 
	a:active, 
	a:hover {
	    text-decoration: none;
	    outline: none; 
	}
	h1 {
	    max-width: 850px;
		font-size: 1.5em;
	    padding: 0.5em;
	    margin: auto;
	    text-align: center; 
	}
	@media screen and (max-width: 600px) {
	    h1 {
	        font-size: 1.25em; 
	    } 
	}
	h2 {
	    margin: 0px 0px 20px 0px;
	    padding: 0px; 
	}
	@media only screen and (max-width: 867px) {
	    h2 {
	        font-size: 1.8em; 
	    } 
	}
	@media screen and (max-width: 600px) {
	    h2 {
	        font-size: 1.4em;
	        line-height: 1;
	        margin-bottom: 0em; 
	    } 
	}
}

#welcome {
    font-size: 14px;
    color: #000;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 0px;
}
.page-template-template-three-step-free #container {
    margin: 0 auto; 
}
#progress, 
#welcome, 
#actions {
    max-width: 1200px;
    margin: auto; 
}
#progress {
    background-color: #fff;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); 
}
#progress .percent {
    background: #87C442;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #9FD04F), color-stop(100%, #87C442));
    background-image: -webkit-linear-gradient(#9FD04F, #87C442);
    background-image: -moz-linear-gradient(#9FD04F, #87C442);
    background-image: -o-linear-gradient(#9FD04F, #87C442);
    background-image: -ms-linear-gradient(#9FD04F, #87C442);
    background-image: linear, false, #9FD04F, #87C442;
    width: 1%;
    height: 30px;
    position: relative; 
}
#progress .percent .number {
    position: absolute;
    top: 0px;
    height: 30px;
    line-height: 30px;
    color: #000;
    right: -40px;
    width: 40px;
    text-align: center;
    font-weight: bold; 
}


#actions{
	padding: 0px;
    overflow: hidden;
    list-style-type: none; 
	li {
	    float: left;
	    width: 33%;
	    padding: 10px;
	    text-align: center;
	    border-right: 1px solid #bbb;
	    border-left: 1px solid #fff; 
	}
	li {
		@media screen and (max-width: 600px){
			max-width: 400px;
			margin: auto; 
		}
    } 
	li:nth-child(1) {
	  border-left: none; 
	}
	li:nth-child(2) {
	  width: 34%; 
	}
	li:nth-child(3) {
	  border-right: none; 
	}
	button {
	    font-weight: bold;
	    background: #87C442;
	    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #9FD04F), color-stop(100%, #87C442));
	    background-image: -webkit-linear-gradient(#9FD04F, #87C442);
	    background-image: -moz-linear-gradient(#9FD04F, #87C442);
	    background-image: -o-linear-gradient(#9FD04F, #87C442);
	    background-image: -ms-linear-gradient(#9FD04F, #87C442);
	    background-image: linear, false, #9FD04F, #87C442;
	    color: black;
	    box-shadow: inset 0 1px 0 0 #B7DC63;
	    text-shadow: #FFFF8E 0 1px 0;
	    background-clip: border-box;
	    border: 1px solid #1A1A1A;
	    border-radius: 6px;
	    color: #000;
	    line-height: 48px;
	    padding: 0 20px;
	    transition: all 300ms ease;
	    cursor: pointer;
	    margin: 0px;
	    opacity: 0.99; 
	}
	button:hover {
	    opacity: 0.9; 
	}
	button.facebook {
	    background: #3b5998;
	    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #4b71c1), color-stop(100%, #3b5998));
	    background-image: -webkit-linear-gradient(#4b71c1, #3b5998);
	    background-image: -moz-linear-gradient(#4b71c1, #3b5998);
	    background-image: -o-linear-gradient(#4b71c1, #3b5998);
	    background-image: -ms-linear-gradient(#4b71c1, #3b5998);
	    background-image: linear, false, #4b71c1, #3b5998;
	    color: #fff;
	    box-shadow: inset 0 1px 0 0 #5b8aeb;
	    text-shadow: #3b5998 0 1px 0; 
	}
	button.twitter {
	    background: #2578b4;
	    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #58a8e2), color-stop(100%, #2578b4));
	    background-image: -webkit-linear-gradient(#58a8e2, #2578b4);
	    background-image: -moz-linear-gradient(#58a8e2, #2578b4);
	    background-image: -o-linear-gradient(#58a8e2, #2578b4);
	    background-image: -ms-linear-gradient(#58a8e2, #2578b4);
	    background-image: linear, false, #58a8e2, #2578b4;
	    color: #fff;
	    box-shadow: inset 0 1px 0 0 #88c1ec;
	    text-shadow: #2578b4 0 1px 0; 
	}
}

@media screen and (max-width: 600px) {
    #actions li {
        float: none;
        border: none;
        border-bottom: 1px solid #ddd;
        width: 100% !important;
        padding: 20px 0px; 
    }
    #progress {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 10px;
        z-index: 100;
        margin: 0px;
        border-radius: 0px; 
    } 
}

.modal-content{
    background-color: #333;
}

.modal-script {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}
.dark-grey{
    color: #333;
}
