// /*********************
// LAYOUT & GRID STYLES
// *********************/

.page-wrap{
  box-shadow: 5px 0 15px -4px rgba(23, 32, 35, 0.1), -5px 0 8px -4px rgba(23, 32, 35, 0.1);
  max-width: 1600px;
  margin: auto;
}
.mw-1250{
  max-width: 1250px;
  margin: auto;
}
.mw-1140{
  max-width: 1140px;
  margin: auto;
}
.mw-1100{
  max-width: 1100px;
  margin: auto;
}
.mw-1040{
  max-width: 1040px;
  margin: auto;
}
.mw-960{
  max-width: 960px;
  margin: auto;
}
.mw-850{
  max-width: 850px;
  margin: auto;
}
.mw-710{
  max-width: 710px;
  margin: auto;
}
.mw-640{
  max-width: 640px;
  margin: auto;
}
.mw-600{
  max-width: 600px;
  margin: auto;
}
.mw-450{
  max-width: 450px;
  margin: auto;
}

