
/*********************
NORMAL PAGE
*********************/
.normal-page{
  @media #{$b}{
    font-size: 1.2em;
  }
  ul, ol{
    padding-left: 0;
    list-style-type: none;
  }
  li{
    padding-bottom: 0.75em;
    padding-left: 1.25em;
    background-image: url('#{$r}plus.svg');
    background-repeat: no-repeat;
    background-position: 0 0.25em;
    background-size: 1em;
  }
  td, th{
    border: 1px solid $grey;
    padding: 0.5em;
  }
  blockquote{
    font-style: italic;
    font-size: 1.2em;
  }
  a{
    color: $blue;
    text-decoration: underline;
    &:hover{
      color: darken($blue, 15%);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5{
    margin-bottom: 0.5em;
  }
}
.acf-map img {    
max-width:inherit !important; 
}
