//////////padding and margin classes////////////
//////////padding and margin classes////////////
//////////padding and margin classes////////////
.ma{
  margin: auto;
}
.m0{
  margin: 0;
}
.mt0{
  margin-top: 0;
}
.mb0{
  margin-bottom: 0;
}
.m05{
  margin: 0.5em;
}
.mt05{
  margin-top: 0.5em;
}
.mb05{
  margin-bottom: 0.5em;
}
.m1{
  margin: 1em;
}
.mt1{
    margin-top: 1em;
}
.mb1{
    margin-bottom: 1em;
}
.mt2{
  margin-top: 2em;
}
.mb2{
  margin-bottom: 2em;
}




.p05{
  padding: 0.5em;
}
.pt05{
  padding-top: 0.5em;
}
.pb05{
  padding-bottom: 0.5em;
}
.p1{
  padding: 1em;
}
.pt1{
  padding-top: 1em;
}
.pb1{
  padding-bottom: 1em;
}
.p2{
  padding: 2em;
}
.pt2{
  padding-top: 2em;
}
.pb2{
  padding-bottom: 2em;
}
.pb0{
  padding-bottom: 0;
}
.pt0{
  padding-top: 0;
}
.from-m-down-p1{
  @media #{$m2} {
    padding: 1em;
  }
}